*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


/* general */
.container{
    max-width: 1120px;
    margin: 0 auto;
    padding: 0 1rem;
}


/* navbar */
.nav-top{
    background-color: #0084fd;
    height: 4.7rem;
    position: relative;
}

.nav-top .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-top ul{
    display: none;
    position: absolute;
    top: 4.7rem;
    left: 0;
    right: 0;
    background-color: #ffffff;
    list-style-type: none;
    text-align: center;
}

.nav-top li{
    padding: 1rem;
    border-bottom: 2px solid grey;
}

.nav-top .nav-link, .btn{
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.nav-top .hamburger{
    color: #ffffff;
    font-size: 2rem;
}

.nav-top .hamburger:hover + ul{
    display: block;
}

@media screen and (min-width:811px) {
    .nav-top ul{
        position: unset;
        background-color: unset;
        display: flex;
        align-items: center;
        height: 100%;
        
    }
    
    .nav-top li{
        height: 100%;
        display: flex;
        align-items: center;
        color: #ffffff;
        padding: 0;
    }
    
    .nav-top .nav-link{
        text-decoration: none;
        display: flex;
        align-items: center;
        height: 100%;
        margin-left: 2.5rem;
        padding: 2px;
    }

    .nav-top .nav-link:visited{
        color: #ffffff;
    }
    
    .nav-top .nav-link:hover{
        transform: scale(1.2);
        background-color: rgb(0, 85, 255);
    }
    
    .nav-top .btn{
        background-color: #ffffff;
        color: #000000;
        padding: .5rem;
        border-radius: 12px;
        text-decoration: none;
        margin-left: 2.5rem;
    }
    
    .nav-top .btn:hover{
        background-color: #9a9a9af8;
        transform: scale(1.2);
    }

    .hamburger{
        display: none;
    }
}


/* items section */
.items-section{
    padding: 3rem 0;
}

.items-section .container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    flex: 1 1 100%;
    background-color: #b5ddff;
    border-radius: 2rem;
    padding: 1rem;
}

.card-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-img .left{
    flex: 0 0 100%;
}

.card-img img{
    display: block;
    width: 195px;
    margin-bottom: -1rem;
}


/* items-section card style*/
.card h3{
    text-align: center;
    color: #0084FD;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    font-size: 1.3rem;
    font-weight: 800;
}

.card-img h3{
    text-align: left;
}

.card .icon-box{
    text-align: center;
}

.card .fa-solid{
    color: #0084FD;
    font-size: 5rem;
}

.card p{
    text-align: center;
    line-height: 1.5rem;
}

.card-img p{
    text-align: left;
}

.card .btn-app-store{
    color: #ffffff;
    background-color: #0084FD;
    padding: 0.5rem 3rem;
    width: 200px;
    border-radius: 20px;
    margin-top: 30px;
}

@media screen and (min-width: 376px) {
    .items-section .card{
        flex-basis: calc((100% - 2rem) / 3);
    }
    
    .items-section .card-img{
        flex-basis: calc(2 * ((100% - 1rem) / 3));
    }
    
    .card-img{
        justify-content: flex-start;
    }
}

@media screen and (min-width: 811px) {
    .card-img .left{
        flex: 0 0 50%;
    }

    .card-img img{
        align-self: flex-end;
        margin-right: auto;
        margin-left: auto;
    }
    
    .card .btn-app-store{
        margin-bottom: 1rem;
    }
}


